@model CatForum.Models.Discussion

@{
	string imageUrl = Url.Content("/photos/" + Model.ImageFilename);
}

<a href="@Url.Action("Profile", "Home", new {id = Model.ApplicationUser.Id})" class="text-decoration-none mb-2 fw-semibold nav-link">
	<div class="d-flex align-items-center">
		<img src="/profile_img/@Model.ApplicationUser.ImageFilename" class="thumbnail me-2"/>
		<div>@Model.ApplicationUser.Name</div>
	</div>
</a>

<div >
	<h2>@Model.Title</h2>
	<hr class="my-3" />
	<p>@Model.Content</p>
	@if (Model.ImageFilename != null)
	{
		<img src="@imageUrl
		" width="500" height="auto" alt="alt for photo in discussion @Model.DiscussionId
		" class="mt-3"/>
	}
	<hr class="border-2"/>
		<h5 class="mb-3">Comments:</h5>
		@if (@Model.Comments != null){
			@foreach(var comment in Model.Comments){
				<div class="border-bottom mb-3">
					<div>
					<a href="@Url.Action("Profile", "Home", new {id = comment.ApplicationUser.Id})" class="text-decoration-none fw-bold nav-link d-flex align-items-center">
						<img src="/profile_img/@comment.ApplicationUser.ImageFilename" class="comment-thumbnail me-2" />
						<div>@comment.ApplicationUser.Name</div>
					</a>
						<div class="ms-4 ps-3 mb-3">@comment.Content</div>
				</div>
				</div>
			}
		}
		<button onclick="window.location.href='@Url.Action("Create", "Comments", new {id = Model.DiscussionId})'" class="mb-3 ms-auto btn btn-primary">Add new comment</button>
	</div>

