@model List<CatForum.Models.Discussion>


@{
    ViewData["Title"] = "Home Page";
}

<h1 class="fw-bold">CatForum</h1>
<button onclick="window.location.href='@Url.Action("Create", "Discussions")'" class="mb-1">Create new discussion</button>

<div class="masonry-grid">
    @foreach (var item in Model){
        <div class="masonry-grid-item mb-4 mt-3 discussionCard d-flex">
            <div class="w-75">
                <a href="@Url.Action("GetDiscussion", "Home", new {id = item.DiscussionId})" class="text-decoration-none">
                    <h3>@item.Title</h3>
                </a>
                <div class="d-flex">
                    @if(@item.Comments != null){
                        <div class="me-3"># of comments: @item.Comments.Count</div>
                    }else{
                        <div class="me-3"># of comments: 0</div>
                    }
                    <div>Created at: @item.CreateDate</div>
                </div>
                <a href="@Url.Action("Profile", "Home", new {id = item.ApplicationUser.Id})" class="text-decoration-none">
                <div>Thread owner: @item.ApplicationUser.Name</div>
                </a>
            </div>
            @if(item.ImageFilename != ""){
                string imageUrl = Url.Content("/photos/" + item.ImageFilename);
                <div class="ms-auto">
                    <img src="@imageUrl" class="img-fluid" height="75" width="105" alt="thumbnail for discussion with id @item.DiscussionId" />
                </div>
            }else{
                <div class="ms-auto">
                    <img src="/photos/no_img_found.jpeg" class="img-fluid" width="105" height="75" alt="thumbnail for @item.DiscussionId" />
                </div>
            }
           
            
        </div>
    }
</div>
