@model CatForum.Data.ApplicationUser

@{
	string profilePic = Url.Content("/profile_img/" + Model.ImageFilename);
}

<div class="d-flex align-items-center mb-4">
    <img src="@profilePic" class="profile-thumb me-4"/>
    <div class="flex-column">
        <h3 class="fw-semibold mb-3">@Model.Name</h3>
        <div><i class="fa-solid fa-location-dot"></i> @Model.Location</div>
    </div>
</div>
<hr class="my-3" />
<h1 class="mb-4 text-decoration-underline" style="text-underline-offset: 11px;">@Model.Name's discussions:</h1>
@foreach (var discussion in @Model.Discussions){
    <div class="masonry-grid-item mb-4 mt-3 discussionCard d-flex">
        <div class="w-75">
            <a href="@Url.Action("GetDiscussion", "Home", new {id = discussion.DiscussionId})" class="text-decoration-none nav-link fw-bold mb-4 pb-2">
                <h3>@discussion.Title</h3>
            </a>
            <div class="d-flex">
                @if (discussion.Comments != null)
                {
                    <div class="me-5"><i class="fa-regular fa-comment"></i> @discussion.Comments.Count</div>
                }
                else
                {
                    <div class="me-5"><i class="fa-regular fa-comment"></i> 0</div>
                }
                <div><i class="fa-regular fa-calendar"></i> @discussion.CreateDate.ToString("dd/MM/yyyy")</div>
            </div>
            @* <a href="@Url.Action("Profile", "Home", new {id = discussion.ApplicationUser.Id})" class="text-decoration-none"> *@
            @*     <div>Thread owner: @discussion.ApplicationUser.Name</div> *@
            @* </a> *@
        </div>
        @if (discussion.ImageFilename != null)
        {
            string imageUrl = Url.Content("/photos/" + discussion.ImageFilename);
            <div class="ms-auto">
                <img src="@imageUrl" class="img-fluid" height="93" width="125" alt="thumbnail for discussion with id @discussion.DiscussionId" />
            </div>
        }
       


    </div>

    
}